@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    background-color: hsl(275, 100%, 97%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imagenmovil svg{
    position: relative;
    display: flex;
    justify-content: center;
    width: 375px;
}
#imagenpc svg{
    display: none;
    position: relative;
    width: 1440px;
}

#contenedorseccion{
    width: 322px;
    background: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 10px;
    position: relative;
    margin: -35% 10px 20% 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tituloh1{
    font-weight: 700;
    font-size: 24px;
}
#tituloh1 svg{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.preguntas svg{
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
}
.preguntas svg:hover{
    cursor: pointer;
}
#titulopregunta{
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    padding: 0px;
}

h3{
    font-size: 16px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3 p{
    width: 90%;
}

#menos, #menos2, #menos3, #menos4{
    display: none;
    padding: 0;
    margin: 0;
}
#respuestas{
    display: none;
    width: 90%;
    margin: 0;
    padding: 0;
}

 
/*Adaptamos el codigo a equipos que tengan la pantalla con un minimo de 1440px*/

@media screen and (min-width: 1440px){
    #imagenmovil svg{
        display: none;
    }
    #imagenpc svg{
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        justify-content: center;
    }
    #contenedorseccion{
        width: 550px;
        background: hsl(0, 0%, 100%);
        padding: 15px 25px 10px 25px;
        border-radius: 12px;
        box-shadow: 1px 1px 55px rgba(70, 69, 69, 0.483);
        position: relative;
        margin: -12% auto 10% auto;
        
    }
    #tituloh1{
        width: 200px;
        font-size: 40px;
    }
    #tituloh1 svg{
        width: 30px;
        height: 30px;
    }
    #titulopregunta{
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0px;
        padding: 0;
    }
    h3{
        width: 90%;
        margin: 0;
        padding: 0;
    }
    #menos, #menos2, #menos3, #menos4{
        display: none;
    }
    #respuestas{
        width: 85%;
        display: none;
    }
  
}
.attribution { font-size: 11px; text-align: center; margin: 80px 0 10px 0;}
.attribution a { color: hsl(228, 45%, 44%); }